* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-image: url(depositphotos_357231080-stock-illustration-notebook-math-squared-paper-sheet.jpg);
  }

    section {
        background-color: radial-gradient(blanchedalmond, black);
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .calculatorLayout {
            width: 90%;
            max-width: 400px;
            background-color: lightsteelblue;
            border-radius: 8px;
            overflow: hidden;
        }


.output{
    background-color: rgba(201, 201, 215, 0.987);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 35%;
    color: black;
}
    .current-entry {
        height: 50px;
        font-size: 30px;
        overflow: hidden;
        text-align: right;
    }


.all-buttons {
    color: white;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
    button {
        border: 1px solid darkslategrey;
        display: inline-block;
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        cursor: pointer;
    }
        button:hover {
            background-color: rgba(0, 0, 0, 50);
            color: white;
        }
            .button-number-zero {
                grid-column: 1/3;
                grid-row: 5;
            }

                
  
  