* {
    font-family: "Space Mono", monospace;
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 30px;
    color: black;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background {
    background-image: linear-gradient(135deg, #282828, transparent 25%), linear-gradient(240deg, #282828, transparent 25%),linear-gradient(45deg, #282828, transparent 25%), linear-gradient(300deg, #282828, transparent 25%);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin: 10rem;
  }
  
  main {
    z-index: 3;
 
    border-radius: 4%;
    height: 640px;
    width: 360px;
    background-color: #807e7e;
    border: 1.2px solid #303030;
    box-shadow: 0 0 80px 30px #878686;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
.calculator__display {
    overflow: hidden;
    width: 83%;
    height: 25%;
    color: yellow;
    border-radius: 2%;
    background-color: white;
    border: 1.2px solid black;
    box-shadow: 0 0 5px 1px white;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .all-buttons {
    width: 85%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    

  }
  .all-buttons .equals {
    grid-column-end: span 2;
    border: 1px solid #7b7778;
  }
  .all-buttons button {
    border: 1px solid #7b7778;
    background-color: #1d1d1d;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0.2px white;
    color: #EAF2EF;
    
  }
  .all-clear, .equals, .delete {
    background-color: #1d1d1d;
    border: 1px solid #7b7778;
  }
  .all-buttons .calculator__number {
    background-color: #1d1d1d;
    border: 1px solid #7b7778;
  }
 .all-buttons .calculator__symbol{
    background-color: #1d1d1d;
    border: 1px solid #7b7778;
  }
  .all-buttons button:hover {
    cursor: pointer;
  }
  .all-buttons button:active {
    color: #1d1d1d;
    background-color: #e9e2e2;
    transform: translateY(4px);
    border: 0;
  }