* {
  font-family: "Space Mono", monospace;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 20px;
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  background-image: linear-gradient(135deg, #282828, transparent 25%), linear-gradient(240deg, #282828, transparent 25%),linear-gradient(45deg, #282828, transparent 25%), linear-gradient(300deg, #282828, transparent 25%);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin: 10rem;
}

.calculator {

  padding: 1.3rem;
  margin:auto;
  margin-top: 4rem;
  border-radius: 4%;
  border: 1.8px solid #303030;
  height: 500px;
  width: 360px;
  background-color: #615f5f;
  box-shadow: 0 0 80px 30px #878686;
}
.calculator__screen {
  overflow: hidden;
  padding: 1px;
  width:99%;
  height: 20%;
  border-radius: 2%;
  background-color: #e1e1e1;
  border: 1.2px solid black;
  box-shadow: 0 0 5px 1px white;
  color: #1d1d1d;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.calculator__screen__output-previous {
  font-size: 1.4rem;
  width: 100%;
  padding-right: 5px;
}
.calculator__screen__output-current {
  font-size: 1.7rem;
  width: 100%;
  margin-right: 10px;
}
.calculator__buttons {
  margin-top: 30px;
  height: 68%;
  display: grid;
  gap: 10px;
  padding-top: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 15px;
}
.button {
      border: 0.2px solid #f7f2f3;
      background-color: #1d1d1d;
      border-radius: 5%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 4px 0.8px white;
      color: #EAF2EF;
      
    }
    .clear, .equals {
      background-color: #1d1d1d;
      grid-column-end: span 2;
      border: 1px solid #ffffff;
      color: #EAF2EF;
    }
    .button:hover {
      cursor: pointer;
    }
    .button:active {
      color: #1d1d1d;
      background-color: #e9e2e2;
      transform: translateY(4px);
      border: 0;
    }